.pakhshkit-container {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.pakhshkit-engine {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
}

.pakhshkit-engine video::-webkit-media-controls-panel,
.pakhshkit-engine video::-webkit-media-controls-panel-container,
.pakhshkit-engine video::-webkit-media-controls-start-playback-button,
.pakhshkit-engine video::-webkit-media-controls-play-button {
  display: none;
  -webkit-appearance: none;
}

.pakhshkit-poster {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #000;
  pointer-events: none;
}

.pakhshkit-subtitles {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}

.pakhshkit-black-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  pointer-events: none;
}

.pakhshkit-size-iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 0;
  z-index: -100;
}

.pakhshkit-in-browser-fullscreen-mode {
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  /*added for blocking element with fixed position which could be on the top of the player */
  z-index: 999999 !important;
}
